{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" class="needs-validation" method="post" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" id="validationUsername" name="username" placeholder="Username" autocomplete="off" autofocus required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please choose a username.</div>            
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    
    <script>
    
    let input = $('validationUsername');
    
    input.onkeyup = function() {
        $.get('/check?q=' + input.value, function(data) {
            if (data == false) {
                input.addClass('is-invalid');
            }
        });
    };
    
    
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
        
        
    </script>
{% endblock %}